<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.keduit.mapper.BoardMapper">
  
  <select id="getlist" resultType="com.keduit.domain.BoardVO">
  	<!-- <![CDATA[
  	 where bno > 0 
  	]]> -->
  	select * from  CompanyVal_TB order by bno desc
  </select>
  
  <sql id="criteria">
     <trim prefix="(" suffix=") AND " prefixOverrides="OR">
       <foreach item='type' collection='typeArr'>
         <trim prefix="OR">
           <choose>
              <when test="type == 'T'.toString()">
                 title like '%'||#{keyword}||'%'
              </when>
              <when test="type == 'C'.toString()">
                 content like '%'||#{keyword}||'%'
              </when>
              <when test="type == 'W'.toString()">
                 userid like '%'||#{keyword}||'%'
              </when>
            </choose>
         </trim>
       </foreach>
     </trim>
   </sql>
  
  <select id="getListWithPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(CompanyVal_TB SYS_C007109) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from CompanyVal_TB
               where 
                <include refid="criteria"></include>         
               
     <![CDATA[            
               rownum <= #{pageNum} * #{amount}
         ) where rn > (#{pageNum} - 1) * #{amount}
      ]]>         
   
   </select>
  
  <insert id="insert">
  	insert into team_board(bno, title, content, writer) 
	values(seq_team_board.nextval, #{title}, #{content}, #{writer})
  </insert>
  
  <select id="read" resultType="com.keduit.domain.BoardVO">
  	select * from t_board where bno = #{bno}
  </select>
  
  <delete id="delete">
  	delete from team_board where bno = #{bno}
  </delete>
  
  <update id="update">
  	update team_board
  	set title = #{title}, content = #{content}, writer = #{writer}, updatedate = sysdate
  	where bno = #{bno}
  </update>

   <select id="getTotalCount" resultType="int">
      select count(*) from CompanyVal_TB
      where    
      <include refid="criteria"></include>
      
    <![CDATA[
      bno > 0
    ]]>
    </select>

  </mapper>