<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.keduit.mapper.BoardMapper">
  
  <select id="CompanyVal" resultType="com.keduit.domain.BoardVO">
  	select * from  CompanyVal_TB order by bno desc
  </select>
  
  <select id="InterviewAns" resultType="com.keduit.domain.BoardVO">
  	select * from  InterviewAns_TB order by bno desc
  </select>
  
  <select id="Passlatter" resultType="com.keduit.domain.BoardVO">
  	select * from  Passlatter_TB order by bno desc
  </select>
  
  <select id="WorryQnA" resultType="com.keduit.domain.BoardVO">
  	select * from  WorryQnA_TB order by bno desc
  </select>
  
  <select id="PassSelfIntroduct" resultType="com.keduit.domain.BoardVO">
  	select * from  PassSelfIntroduct_TB order by bno desc
  </select>
  
  <sql id="criteria">
     <trim prefix="(" suffix=") AND " prefixOverrides="OR">
       <foreach item='type' collection='typeArr'>
         <trim prefix="OR">
           <choose>
              <when test="type == 'T'.toString()">
                 title like '%'||#{keyword}||'%'
              </when>
              <when test="type == 'C'.toString()">
                 content like '%'||#{keyword}||'%'
              </when>
              <when test="type == 'W'.toString()">
                 userid like '%'||#{keyword}||'%'
              </when>
            </choose>
         </trim>
       </foreach>
     </trim>
   </sql>
  
  <select id="CompanyValPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(CompanyVal_TB SYS_C007109) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from CompanyVal_TB where 
                <include refid="criteria"></include>                    
        <![CDATA[rownum <= #{pageNum} * #{amount}) where rn > (#{pageNum} - 1) * #{amount}]]>  
   </select>
   
  <select id="InterviewAnsPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(InterviewAns_TB SYS_C007049) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from InterviewAns_TB where 
                <include refid="criteria"></include>                    
        <![CDATA[rownum <= #{pageNum} * #{amount}) where rn > (#{pageNum} - 1) * #{amount}]]>  
   </select>
   
  <select id="PasslatterPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(Passlatter_TB SYS_C007054) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from Passlatter_TB where 
                <include refid="criteria"></include>                    
        <![CDATA[rownum <= #{pageNum} * #{amount}) where rn > (#{pageNum} - 1) * #{amount}]]>  
   </select>
   
  <select id="WorryQnAPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(WorryQnA_TB SYS_C007059) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from WorryQnA_TB where 
                <include refid="criteria"></include>                    
        <![CDATA[rownum <= #{pageNum} * #{amount}) where rn > (#{pageNum} - 1) * #{amount}]]>  
   </select>
   
  <select id="PassSelfIntroductPaging" resultType="com.keduit.domain.BoardVO">
     
     select bno, title, content, userid, regdate, updatedate, views, likes
         from (
             select /*+INDEX_DESC(PassSelfIntroduct_TB SYS_C007065) */ 
               rownum rn, bno, title, content, userid, regdate, updatedate, views, likes
               from PassSelfIntroduct_TB where 
                <include refid="criteria"></include>                    
        <![CDATA[rownum <= #{pageNum} * #{amount}) where rn > (#{pageNum} - 1) * #{amount}]]>  
   </select>
   
  
  <insert id="insert">
  	insert into CompanyVal_TB(bno, title, content, userid) 
	values(seq_CompanyVal.nextval, #{title}, #{content}, chun)
  </insert>
  
  <select id="CompanyValread" resultType="com.keduit.domain.BoardVO">
  	select * from CompanyVal_TB where bno = #{bno}
  </select>
  <select id="InterviewAnsread" resultType="com.keduit.domain.BoardVO">
  	select * from InterviewAns_TB where bno = #{bno}
  </select>
  <select id="Passlatterread" resultType="com.keduit.domain.BoardVO">
  	select * from Passlatter_TB where bno = #{bno}
  </select>
  <select id="WorryQnAread" resultType="com.keduit.domain.BoardVO">
  	select * from WorryQnA_TB where bno = #{bno}
  </select>
  <select id="PassSelfIntroductread" resultType="com.keduit.domain.BoardVO">
  	select * from PassSelfIntroduct_TB where bno = #{bno}
  </select>
  
  <delete id="delete">
  	delete from CompanyVal_TB where bno = #{bno}
  </delete>
  
  <update id="update">
  	update CompanyVal_TB
  	set title = #{title}, content = #{content}, writer = #{writer}, updatedate = sysdate
  	where bno = #{bno}
  </update>

   <select id="getTotalCount" resultType="int">
      select count(*) from CompanyVal_TB
      where    
      <include refid="criteria"></include>
      
    <![CDATA[
      bno > 0
    ]]>
    </select>

  </mapper>