@media (max-width:768px) {}
@media all and (min-width:768px) and (max-width:1080px) {}

@media (min-width: 768px) and (max-width:992px){
  .btn-outline-primary{
    position: relative; right: 30px;
    width: 150px;
  }
}

 @media (min-width:1200px) and (max-width:1399px){
   #sec{
    position: relative; right: 70px;
   }
   #sec2{
     position: relative; right: 70px;
    }
 }

#slider{
  background-color: aquamarine;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  }

#img{
    margin-left: 50px;
    height: 400px;
}
  
#sec{
   left: 0px;
   height: 600px;
   justify-content: space-around;
 }
 
 #sec2{
  background: rebeccapurple;
   position: relative; right: 0px;
    height: 600px;
  }
 
 #sec-1{
  position: relative; top: 80px;
   height: 450px;
   width: 300px;
   background-color:rgb(106, 80, 255);
 }
 
 #sec-2{
   position: relative; top: 80px;
    height: 450px;
    width: 300px;
    background-color: rgb(106, 80, 255);
  }
 
  #sec2-1{
   position: absolute; top: 80px; left: 350px;
    height: 450px;
    width: 600px;
    background-color: rgb(184, 184, 184);
  }
  table {
    height: 410px;
  }
  #tr{
   border-bottom: 1px solid black;
  }